@mixin mixin1 {
    display: flex;
    align-items: center;
    justify-content: center;  
    box-sizing: border-box; 
}
.Picture{
    @include mixin1();
    flex-direction: column;
    padding: 10px;
        >:first-child{
            word-break: break-all;
    }
        >:nth-child(2){
            @include mixin1();
            max-width: 600px;
    }
        Button{
            margin-top: 5px;
    }
        img{
            width: 80%;
    }
}

    