.Gallery{
display: grid;
width: 100%;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
row-gap: 15px;
box-sizing: border-box;
.Gallery__picture{
  position: relative;
  width: 100%;
  display: flex;
    img{
      width: 100%;
      height: auto;
    }
}
Button{
  position: absolute;
  top: 0;
  left: 0;
  right: 0; 
  font-size: 0.8rem;
}
}
@media(max-width: 580px){
  .Gallery{
    Button{
      font-size: 0.5rem;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
@media(max-width: 270px){
  .Gallery{
      Button{
        font-size: 0.3rem;
        padding-left: 0px;
        padding-right: 0px;
    }
  }
}
